body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
  font-size: 1rem;
  padding-top: 0;
  margin: 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  overflow-anchor: none;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 3rem 0;
}
h1 > a {
  text-decoration: none;
  color: #333;
}
#profile, #links {
  display: flex;
  width: 100%;
}
#content > div > * {
  flex: 1;
  margin: 0 auto;
}
#content > div:not(.active) {
  display: none;
}

#content > .active {
  display: flex;
}
