name: CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: phillaf
        password: ${{ secrets.DOCKERHUB_PASS }}

    - name: Build and push web image
      run: |
        docker build -t phillaf/proflie-web:latest -f Dockerfile .
        docker push phillaf/proflie-web:latest

    - name: Build and push caddy images
      run: |
        docker build -t phillaf/proflie-caddy:cache --target cache caddy/
        docker push phillaf/proflie-caddy:cache
        docker build -t phillaf/proflie-caddy:nocache --target nocache caddy/
        docker push phillaf/proflie-caddy:nocache

  deploy:
    runs-on: ubuntu-latest
    needs: [build]

    steps:
    - name: Invoke deployment hook
      uses: distributhor/workflow-webhook@v3
      env:
        webhook_url: ${{ secrets.WEBHOOK_URL }}
        webhook_secret: ${{ secrets.WEBHOOK_SECRET }}